{{- define "main" }}

{{- $pages := union .RegularPages .Sections }}
{{- $paginator := .Paginate $pages }}

{{- $command := printf "vishctl get notes" }}
{{- if eq .Kind "term" }}
{{- $command = printf "vishctl get notes -l topic=%s" (.Data.Term | urlize) }}
{{- end }}
{{- $rss := "" }}
{{- if and (or (eq .Kind "term") (eq .Kind "section")) (.Param "ShowRssButtonInSectionTermList") }}
{{- $rss = .OutputFormats.Get "rss" }}
{{- end }}
{{- $count := len .RegularPages }}
{{- $title := .Title }}
{{- if eq .Kind "term" }}{{ $title = printf "#%s" (.Data.Term | lower) }}{{ end }}

{{- partial "page_header.html" (dict "page" . "command" $command "title" $title "rss" $rss "meta" (printf "%d %s" $count (cond (eq $count 1) "note" "notes"))) }}

{{- if .Content }}
<div class="post-content md-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

<div class="home-notes-grid">
{{- range $paginator.Pages }}
{{- partial "post_card.html" (dict "page" .) }}
{{- end }}
</div>

{{- partial "pagination.html" $paginator }}

{{- end }}{{- /* end main */ -}}
